/**
* ! 320px — 540px: Mobile devices.
* ! 481px — 768px: iPads, Tablets.
* ! 769px — 1024px: Small screens, laptops.
* ! 1025px — 1200px: Desktops, large screens.
* ! 1201px and more — Extra large screens, TV.
*/
/**
*!================ global setting. ===============*/
@media all and (max-width: 768px) {
   /**========================= global =========================*/
   .ed-ex-container .education,
   .ed-ex-container .experince,
   .skills .col-1,
   .skills .col-2,
   .ga-col,
   .client,
   .contact-data,
   .contact-data .contact-note,
   .contact-data .contact-addrees,
   .services-container .service,
   .about-information,
   .about-profile,
   .about-items-num .about-item {
      width: 100%;
   }
   .resume-container .ed-ex-container,
   .skills,
   .gallary,
   .client-speak-container,
   .footer-container {
      flex-direction: column;
   }

   .what-i-do-container,
   .about-container,
   .resume-container,
   .gallary,
   .client-container,
   .contact-container,
   .footer-container {
      width: 95%;
   }

   .about-profile {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   p {
      font-size: 13px;
   }
   h3 {
      font-size: 15px;
   }
   .title-section .title-hidden {
      font-size: 35px;
   }
   .title-up {
      font-size: 18px;
   }

   /*------------ contact ------------------*/
   .contact-data {
      flex-direction: column-reverse;
   }
   .contact-addrees {
      text-align: center;
   }
}
/**
*!================ Mobile devices. ===============*/
@media all and (max-width: 540px) {
   /*----------------- fiexd ---------------------*/
   .switcher .btn-switch,
   .up a {
      padding: 7px;
      font-size: 16px;
   }

   /**========================= Home =========================*/
   .logo {
      font-size: 16px;
      width: 100%;
   }
   .navbar li {
      padding: 2px;
   }
   .header ul {
      flex-direction: column;
      font-size: 10px;
      align-items: center;
   }
   .header {
      flex-direction: column;
      padding: 10px;
   }
   .text-typing {
      font-size: 40px;
   }

   /**========================= about =========================*/
   #about .about-content-hero {
      flex-direction: column;
   }
   .about-items-num {
      flex-direction: column;
   }
   .about-items-num .about-item {
      border-color: transparent transparent #5553 transparent;
   }

   .about-profile .btn-about a {
      padding: 10px 20px;
   }
   /**========================= what i do =========================*/

   .servicer-info {
      margin: 0 15px;
   }

   /**========================= footer =========================*/

   .footer-col2 {
      padding: 30px 0;
   }
}

/**
*!================ iPads, Tablets. ===============*/
@media all and (min-width: 541px) and (max-width: 768px) {
   /**========================= Home =========================*/
   .navbar {
      width: 80%;
   }
   .header ul {
      justify-content: center;
   }

   /**========================= about =========================*/
   #about .about-content-hero {
      flex-direction: column;
   }
   .about-items-num {
      flex-direction: column;
   }
   .about-items-num .about-item {
      border-color: transparent transparent #5553 transparent;
   }

   .about-profile .btn-about a {
      padding: 10px 20px;
   }
}

/**
*!================ Small screens, laptops. ===============*/
@media all and (min-width: 769px) and (max-width: 1024px) {
   /**========================= Home =========================*/
   .navbar {
      width: 80%;
   }
   /**========================= about =========================*/
   .about-container,
   .what-i-do-container,
   .resume-container,
   .gallary,
   .client-container,
   .contact-container {
      width: 96%;
   }
   .title-hidden {
      font-size: 80px;
   }
   .about-profile .text-pro,
   p {
      font-size: 13px;
   }
   .about-item h3 {
      font-size: 40px;
   }
   .about-items-num .about-item {
      width: 50%;
   }
   .item-2 {
      border: none !important;
   }
   /**========================= what i do =========================*/

   .servicer-info {
      width: 80%;
   }
   /**========================= portfolio =========================*/
   #portfolio {
      padding: 40px 0;
   }
   /**========================= client =========================*/
   .client {
      padding: 40px 4px;
   }
}
@media all and (min-width: 1025px) and (max-width: 1200px) {
   .navbar {
      width: 70%;
   }
}
